torch>=2.7.0
pytorch-lightning>=2.0.0
lightning-fabric==2.0.0
librosa>=0.10
numpy==1.26
scipy
tqdm
pyyaml
matplotlib
scikit-learn
torchmetrics>=1.3
streamlit
torchvision>=0.15.0
seaborn==0.12.2
torchinfo==1.8.0